# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Cache
.npm
.cache

# Fichiers temporaires
.tmp/
temp/

# Fichiers de l'éditeur
.vscode/
.idea/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db